@font-face {
  font-family: myFirstFont;
  src: url(ChangaOne-Regular.ttf);
}
* {padding: 0;margin: 0;}
body {
  background-color: #99ff66;
  background-image: url("../img/bg2.jpg");
}
.conteudo p{
  margin: 20px;
}
nav {
  font-family: arial, helvetica, sans-serif;
  font-size: 15px;
}
footer{
  position: absolute;
  bottom:0;
	height:30px;
	background-color:black;
	width:100%;
}
ol{margin-left: 20px}
ol li{margin: 10px}
.conteudo {
  padding: 20px;
  float: left;
  margin: 40px 10px;
  border: 1px solid lightblue;
  border-radius: 10px;
	max-width:600px;
  font-family: myFirstFont;
  font-size: 16px;
  background-color: black;
  color: lightpink;
  text-shadow: 2px 2px 8px blue;
}
.menu {
	position: fixed;
	width: 100%;
	background-color:red;
  list-style: none;
  border: 1px solid #c0c0c0;
}
.menu li {
  position: relative;
  float: left;
  border-right: 1px solid #c0c0c0;
}
.menu li a {
  color: #333;
  text-decoration: none;
  padding: 5px 10px;
  display: block;
}
.menu li a:hover {
  background: #333;
  color: #fff;
  -moz-box-shadow: 0 3px 10px 0 #ccc;
  -webkit-box-shadow: 0 3px 10px 0 #ccc;
  text-shadow: 0px 0px 5px #fff;
}
.menu li ul {
  position: absolute;
  top: 25px;
  left: 0;
  background-color: #fff;
  display: none;
}
.menu li:hover ul,
.menu li.over ul {
  display: block;
}
.menu li ul li {
  border: 1px solid #c0c0c0;
  display: block;
  width: 150px;
}
#menu ul {
  list-style-type: none;
  margin: 10px;
}
#menu li {
  margin-bottom: 2px;
  display: inline-block;
}